.silos{
    width: 200px;
    height: 500px;

    display: flex;
    flex-direction: column;
}

.kolicina{
    flex:1;
}

.vizuelno{
    display: flex;
    border: 2px solid black;
    flex-direction: column-reverse;
    flex:10;
}

.popuna{
    background-color: blueviolet;
}

.fabrika{
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 1000px;
}

.levi{
    display: flex;
    flex-direction: column;
    flex:2;
}

.desni{
    display: flex;
    flex-direction: column;
    flex:1;
}

.naslov{
    text-align: center;
    flex: 1;
}

.silosi{
    display: flex;
    flex: 10;
    justify-content: space-between;
}